
    <div class="container">
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="../../assets/mobiles.png">
                    <h3>Mobiles</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Redmi ,Apple ,Realme ,Oppo ,Vivo, Oneplus etc</p>
                        <a (click)="mobiles()">View More</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="../../assets/laptops.jpg">
                    <h3>Laptops</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>HP, Asus, Dell, Acer, Apple, Honor, Omen Series</p>
                        <a (click)="laptops()">View More</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="../../assets/sportslogo.png">
                    <h3>Sports</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Cricket, Football, Hockey, Tennis and many more .....</p>
                        <a (click)="sports()" >View More</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container">
      <div class="card">
          <div class="face face1">
              <div class="content">
                  <img src="../../assets/men.png">
                  <h3>Men</h3>
              </div>
          </div>
          <div class="face face2">
              <div class="content">
                  <p>Shirts, T-Shirts, Footwear, Sweat Shirts many more to explore....... </p>
                      <a (click)="men()">View More</a>
              </div>
          </div>
      </div>
      <div class="card">
          <div class="face face1">
              <div class="content">
                  <img src="../../assets/women.jpg">
                  <h3>Women</h3>
              </div>
          </div>
          <div class="face face2">
              <div class="content">
                  <p>Tops, Watches, Footwear, Bottomwear, Sunglasses ... many more check it out!</p>
                      <a (click)="women()">Read More</a>
              </div>
          </div>
      </div>
      <div class="card">
          <div class="face face1">
              <div class="content">
                  <img src="../../assets/toys22.gif">
                  <h3>Kids</h3>
              </div>
          </div>
          <div class="face face2">
              <div class="content">
                  <p>Many Toys and Teddybears for your children check them by clicking down!</p>
                      <a (click)="kids()">Read More</a>
              </div>
          </div>
      </div>
  </div>

  <div class="container">
    <div class="card">
        <div class="face face1">
            <div class="content">
              &nbsp;&nbsp;&nbsp;<img src="../../assets/tvlogo-removebg-preview.png">
                <h3>Telivisions</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Oneplus, Redmi, Realme, VU, Sony, Onida and many more for your entertainment!</p>
                    <a (click)="tv()">View More</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="face face1">
            <div class="content">
              &nbsp;&nbsp;&nbsp;<img src="../../assets/headphones-speakers-22024538-removebg-preview.png">
                <h3>Electronics</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>We have wide range of speakers, headphones in JBL, Sony, Skullcandy............</p>
                    <a (click)="elec()">View More</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="face face1">
            <div class="content">
                <img src="../../assets/home-appliances-XD1Y5D.jpg">
                <h3>Home</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>AC's, Fefrigirators, Coolers, Heaters many more exciting products.........</p>
                    <a (click)="homeapp()" >View More</a>
            </div>
        </div>
    </div>
</div>

<div class="container">
  <div class="card">
      <div class="face face1">
          <div class="content">
            &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="../../assets/mobileaccessories-removebg-preview.png">
              <h3>Mobile Accessories</h3>
          </div>
      </div>
      <div class="face face2">
          <div class="content">
              <p>Tripods, Chargers, Holders and many more which are very handy to use .........</p>
                  <a (click)="acess()">View More</a>
          </div>
      </div>
  </div>
  <div class="card">
      <div class="face face1">
          <div class="content">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="../../assets/laptopaccess.png">
              <h3>Laptop Accessories</h3>
          </div>
      </div>
      <div class="face face2">
          <div class="content">
              <p>Mouses, Laptop Bags and many more........</p>
                  <a (click)="laptopaccess()">View More</a>
          </div>
      </div>
  </div>
  <div class="card">
      <div class="face face1">
          <div class="content">
              <img src="../../assets/furn.png">
              <h3>Furniture</h3>
          </div>
      </div>
      <div class="face face2">
          <div class="content">
              <p>Sofas, Chairs, Bean bags etc for your loved home1</p>
                  <a (click)="furn()" >View More</a>
          </div>
      </div>
  </div>
</div>