<app-navbar></app-navbar>
<!-- <label for="Speech Recognition">Speech Recognition</label>
    <input type="text" name="" id="speechToText" placeholder="Speak Something" onclick="record()"> -->
    <marquee behavior="scroll" direction="right" bgcolor="#cccccc" scrollamount="15"> 💥💥🔥🔥   Use NEW10 PromoCode for your First Order to get 10% Discount   💥💥🔥🔥</marquee>

<div class="container mt-4">
    <div class="row d-flex justify-content-center">
        <div class="col-md-9">
            <div class="card p-3 mt-2">
                <h1 class="heading mt-5 text-center glow">WELCOME TO E-EMPORIUM</h1>
                <div class="d-flex justify-content-center px-5">
                    <div class="search"> <input type="text" class="search-input" [(ngModel)]="search" placeholder="Search..." name=""> 
                        <a (click)="activate()" class="search-icon"> 
                            <i class="fa fa-search"></i> 
                        </a> 
                    </div>
                </div>
                <div class="row mt-4 g-1 px-4 mb-5">
                    <div class="col-md-2">
                        <div class="card-inner p-3 d-flex flex-column align-items-center"> <img src="../../assets/mobiles.png" width="50" (click)="mobiles()">
                            <div class="text-center mg-text"> <span class="mg-text">Mobiles</span> </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card-inner p-3 d-flex flex-column align-items-center"> <img src="../../assets/laptops.jpg" (click)="laptops()" width="50">
                            <div class="text-center mg-text"> <span class="mg-text">Laptops</span> </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card-inner p-3 d-flex flex-column align-items-center"> <img src="../../assets/mens.jpg" (click)="men()" width="50">
                            <div class="text-center mg-text"> <span class="mg-text">Men</span> </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card-inner p-3 d-flex flex-column align-items-center"> <img src="../../assets/women.jpg" (click)="women()" width="50">
                            <div class="text-center mg-text"> <span class="mg-text">Women</span> </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card-inner p-3 d-flex flex-column align-items-center"> <img src="../../assets/tv.jpeg" (click)="tel()" width="50">
                            <div class="text-center mg-text"> <span class="mg-text">Telivisions</span> </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card-inner p-3 d-flex flex-column align-items-center"> <img src="../../assets/home.png" (click)="homeapp()" width="50">
                            <div class="text-center mg-text"> <span class="mg-text">Home</span> </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div id="slider">
    <input type="radio" name="slider" id="slide1" checked>
    <input type="radio" name="slider" id="slide2">
    <input type="radio" name="slider" id="slide3">
    <input type="radio" name="slider" id="slide4">
    <div id="slides">
       <div id="overflow">
          <div class="inner">
             <div class="slide slide_1">
                <div class="slide-content">
                   <img src="../../assets/Emporium.png" alt="Image" (click)="qw()" width="1400" height="295">
                   
                </div>
                
             </div>
             <div class="slide slide_2">
                <div class="slide-content">
                   <h2>Slide 2</h2>
                   <p>Content for Slide 2</p>
                </div>
             </div>
             <div class="slide slide_3">
                <div class="slide-content">
                   <h2>Slide 3</h2>
                   <p>Content for Slide 3</p>
                </div>
             </div>
             <div class="slide slide_4">
                <div class="slide-content">
                   <h2>Slide 4</h2>
                   <p>Content for Slide 4</p>
                </div>
             </div>
          </div>
       </div>
    </div>
    <div id="controls">
       <label for="slide1"></label>
       <label for="slide2"></label>
       <label for="slide3"></label>
       <label for="slide4"></label>
    </div>
    <div id="bullets">
       <label for="slide1"></label>
       <label for="slide2"></label>
       <label for="slide3"></label>
       <label for="slide4"></label>
    </div>
  </div> -->
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <app-homeui></app-homeui>