<app-navbar></app-navbar>
<mat-grid-list cols="3" rowHeight="0.6:1">
    <div *ngFor="let i of men">
        <mat-grid-tile>
            
                <mat-card class="example-card">
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>{{i.name}}</mat-card-title>
                    </mat-card-header>
                    <hr>
                    <img mat-card-image src="{{i.img}}" class="small" alt="Men fashion" width="30px" height="200">
                    <hr>
                    <mat-card-content>
                      <p>
                        Color : {{i.color}}
                      </p>
                      <h6>Price : ₹{{i.price}}</h6>
                    </mat-card-content>
                    <mat-card-actions>
                        <button type="button" class="btn btn-info" btn-lg btn-block (click)="opendialog(i)">View More</button>
                      <button type="button" class="btn btn-warning" btn-lg btn-block (click)="cart(i, 'Dismiss')">Add to Cart</button>
                    </mat-card-actions>
                  </mat-card>
               
        </mat-grid-tile>
    </div>
    </mat-grid-list>