.checkout{
    font-family: 'Fugaz One', cursive;
    background-color: bisque;
    text-align: center;
    font-size: 60px;
    margin: 20px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 200px;
 
}