<header>
   
    <nav>
        <ul class="nav-area">
<li><a href="http://localhost:4200/home">home</a></li>
<li><a href="http://localhost:4200/mobiles">Mobiles</a></li>
<li><a href="http://localhost:4200/laptops">LAPTOPS</a></li>
<li><a href="http://localhost:4200/telivisions">TELIVISIONS</a></li>
<li><a href="sportsitems">SPORTS</a></li>
<li><a href="kids">KIDS</a></li>
</ul>
</nav>
<div class="dropdown">
  <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown">
      FASHION
  </button>
  <div class="dropdown-menu">
    <button type="button" (click)="g()" class="btn btn-dark" >&nbsp; &nbsp; &nbsp; &emsp;&emsp;&emsp; MEN &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </button>
    <button type="button" (click)="go()" class="btn btn-dark" >&nbsp; &nbsp; &nbsp;WOMEN &emsp; &emsp;&nbsp;&nbsp;&nbsp;</button>
  </div>
</div>
&nbsp;
<div class="dropdown">
    <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown">
        ACCESSORIES
    </button>
    <div class="dropdown-menu">
      <button type="button" href="#" class="btn btn-dark" (click)="goto()">&nbsp; &nbsp;  MOBILES &nbsp; &nbsp; &nbsp; </button>
      <button type="button" href="#" class="btn btn-dark" (click)="got()">&nbsp; &nbsp; &nbsp;laptops &emsp; &emsp; &emsp; &nbsp;&nbsp;&nbsp;&nbsp;</button>
    </div>
</div>
&nbsp;
<div class="dropdown">
    <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown">
        household
    </button>
    <div class="dropdown-menu">
      <button type="button"  class="btn btn-dark" (click)="g1()">&nbsp; &nbsp;  APPLIANCES &nbsp; &nbsp; &nbsp; </button>
      <button type="button"  class="btn btn-dark" (click)="g2()">&nbsp; &nbsp; &nbsp;furniture &emsp; &emsp; &emsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
    </div>
</div>
<button type="button" class="btn btn-info" (click)="gocart()" >Cart
</button>
    <button type="button" class="btn btn-danger" (click)="logout()" >LogOut</button>
</header>