*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;            
}
body{
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    font-family: poppins;
    font-weight: 600;
    font-size: 16px;          
}

a{
    text-decoration: none;
}
header{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 70px;
    background-image: url(../../assets/wall4.jpg);
}
.logo{
    cursor: pointer;
}
.nav-area{
    list-style: none;
}
.nav-area li{
    display: inline-block;
    padding: 0 15px;
    text-transform: uppercase;
}
.nav-area li a{
    transition: all .3s ease 0s;
    color : white;
}
.nav-area li a:hover{
    color:blue;
}
.btn-area {
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 10px 25px;
    border-radius: 10px;
    background: #006C87;            
}
button{

    cursor: pointer;
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 10px 25px;
    border-radius: 0px;
    /* background: #006C87;   */
    margin-right:auto;
    margin-left: auto;
  }