.example-card {
    max-width: 470px;
    align-content: center;
    align-items: center;
  }
  
  .example-header-image {
    background-image: url("../../assets/circlelogo.png");
    background-size: cover;
  }
  mat-grid-tile {
    background: white;
  }
  .small {
    width: 280px;
    height: 200px;
    margin-left: 70px;
    margin-right: 50px;
  }
  button{
      margin: 13px 12px 12px 28px;
    }
  