<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="footer, address, phone, icons" />
    <title>Responsive Footer</title>
</head>

    <body>
    <header>
        <br><br><br><br>
    </header> 
    <footer class="footer-distributed">

        <div class="footer-left">
      <img src="../../assets/circlelogo-removebg-preview.png">
      <br>
            <p class="footer-links">
                <a href="#">Home</a>
                |
                <a href="#">Blog</a>
                |
                <a href="#">About</a>
                |
                <a href="#">Contact</a>
            </p>

            <p class="footer-company-name">© 2020 E-Emporium Website Pvt. Ltd.</p>
        </div>

        <div class="footer-center">
            <div>
                <i class="fa fa-map-marker"></i>
                  <p><span> Kondapalli , Vijayawada</span>
                               Andhra Pradesh - 521228</p>
            </div>

            <div>
                <i class="fa fa-phone"></i>
                <p>+91 9182421379</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:vissamsettykalyan@gmail.com">vissamsettykalyan@gmail.com</a></p>
            </div>
        </div>
        <div class="footer-right">
            <p class="footer-company-about">
                <span>About the company</span>
                We offer Quality and best in class products at a very reasonable prices</p>
            <div class="footer-icons">
                <a href="https://www.facebook.com/KalyanVissamsetty"><i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/kalyan_youtuber"><i class="fa fa-twitter"></i></a>
                <a href="https://www.instagram.com/vissamsettykalyan/"><i class="fa fa-instagram"></i></a>
                <a href="www.linkedin.com/in/vissamsettykalyan"><i class="fa fa-linkedin"></i></a>
                <a href="https://www.youtube.com/channel/UCgqEyOBOA2cC0kAg0t1yYDg"><i class="fa fa-youtube"></i></a>
            </div>
          
        </div>
       
    </footer>
</body>
</html>